/TiposVariables/nbproject/private/
/TiposVariables/build/
/proyecto-byteBank/nbproject/private/
/proyecto-byteBank/build/
/byteBack-Heradado/nbproject/private/
/byteBack-Heradado/build/
/Anotaciones/nbproject/private/
/Anotaciones/build/
